
/*****HOMEPAGE RELATED*****/
div#homepagecontents{
	/*top:55%;*/
	margin-left: 35%;
	margin-right: 30%;
	align-content: center;
	position:absolute;
}
.clockAndDateStyle {
	margin-top: 5%;
	text-align: center;
	color: #F5B041;
	font-family: 'Julius Sans One', sans-serif;
	font-size :80px;
	/*text-shadow: 3px 5px 3px #aaa;*/
}

.onlyFont{
	font-family: 'Alef', sans-serif;
	/*color:black;*/
}
.social{
	text-align:center;
	margin-top: 2%
}
.image {
	width:40px;
	height:40px;
	/*top:50%;
	margin-left: 50%;
	margin-right: 50%;*/
	/*align-content: center;*/
	position:relative;
}
.titles{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 50px;
	color:#F2635F;
}
body{
	/*background-image: url("chicago.JPG");
	background-repeat: no-repeat;
	background-position: center;*/	
	background: #EAEDED;
	background: linear-gradient(to right, #CA6F1E);
}

/*****CLOCK CSS*****/
.clock {
  border-radius: 50%;
  background: #fff url("images/clock.svg") no-repeat center;
  background-size: 85%;
  height: 5em;
  padding-bottom: 30%;
  position: relative;
  width: 5em;
  margin-top: 10%;
  /*object-fit: contain;*/
}/*
.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}*/
.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}
.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}
.seconds {
  background: #000;
  height: 27.5%;
  left: 50.5%;
  position: absolute;
  top: 27.5%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
}

/*rotation animation*/
@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
/*hour hand full rotation takes 12 hours == 43200s */
.hours-container {
  	animation: rotate 43200s infinite linear;
}
/*minute hand full rotation takes 1 hour == 3600s. Infinite steps allows rotate,stop,rotate motion. 
each minute and second hand rotation has 60 steps(rotate,stop happens 60 times in 1 rotation)
*/
.minutes-container {
   	animation: rotate 3600s infinite steps(60);
}
.seconds-container {
	animation: rotate 60s infinite steps(60);
}


/*****NAVBAR RELATED*****/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: black;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white; /*BACKGROUND color for active*/
	background-color: #34495E;
}

.navbar-default {
	background-color: #34495E;
	border-color: #030033;
}

.dropdown-menu > li {
	color: white;
	text-decoration: none;
	background-color: #006495;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: black; /*Change rollover cell color here*/
}
.navbar-default .navbar-nav > li > a {
	color: white; /*Change active text color here*/
}
.navbar-default .navbar-brand{ 
	color:white; /*THOMAS BONG text color*/
}
.dropdownmenucolor{
	color:white;
}
nav#navBar > li > a:hover{
	color: black;
}


/*****BACKGROUND PAGE RELATED*****/
.backgroundparagraphright{
	margin-left: 30%;
	margin-right: 5%;
	align-content: center;
	text-align: left;
	font-family: 'Alef', sans-serif;
	font-size: 25px;
	line-height: 200%;
	color:#283747;
}
.backgroundparagraphleft{
	margin-left: 5%;
	margin-right: 15%;
	margin-top: 5%;
	align-content: center;
	text-align: left;
	font-family: 'Alef', sans-serif;
	font-size: 25px;
	line-height: 200%;
	color:#283747;
}
div#introduction{
	font-family: 'Parisienne', cursive;
	font-size: 25px;
}
div#backgroundcontents{
	/*margin-left: 35%;
	margin-right: 45%;*/
	width: auto;
	object-fit: contain;
	align-content: center;
	position:relative;	
}
.ublogo{
	align-items: : center;
	object-fit: contain;
	height: auto;
}


/*****PROJECT PAGE RELATED*/
div#divProjects{
	text-align: left;
	/*margin-top :10%;*/
	font-family: 'alef', sans-serif;
	font-size: 25px;
	line-height: 200%;
}
.gameplayimage{
	/*opacity : 0.8;
	filter: alpha(opacity=80);*/
	float:top;
	width:860px; 
	height :400px;
	overflow: auto;
}
div#gamelinktitle{
	font-family: 'Bangers',cursive;
	font-size: 70px;
	color: #F2635F;
}
div#gameimage{
	float:left;
	margin: 10px 20px 10px 20px;
	overflow: auto;
	font-family: 'Audiowide', cursive;
}


/*****INTEREST PAGE RELATED*****/
div#divInterests{
	margin-left: 26%;
	margin-right: 22%; 
	text-align: left;
	font-family: 'Alef', sans-serif;
	font-size: 25px;
	line-height: 200%;
}
div#interestscontents{
/*	margin-left: 35%;
	margin-right: 45%;*/
	align-content: center;
	position:relative;
}

/*****IMAGE RELATED*****/
.rightimage{
	float: right;
	margin: 10px 30px 0 10px;
	opacity : 0.7;
	filter: alpha(opacity=80);
}
.leftimage{
	float: left;
	margin: 10px 30px 0 10px;
	opacity : 0.7;
	filter: alpha(opacity=80);
}
div#logos{
	margin: 0 0 10px 0;
}
div#why{
	margin-bottom: 10%;
	margin-top: 5%;
	margin-right:5%;
	margin-left: 5%;
}
div#where{
	text-align: left;
	margin-top: 3%;
	margin-bottom: 10%;
	margin-right:5%;
}
img#whereimage{
	float:right;
	margin: 10px 30px 0 10px;
	opacity : 0.7;
	filter: alpha(opacity=70);
}
/*.suwon_gm{
	float: right;
	margin: 10px 30px 0 10px;
	opacity : 0.7;
	filter: alpha(opacity=70);
	width: relative;
	height: relative;
}*/
div#balls{
	margin-top:3%;
}